.bg-dark {
    background-color: rgb(23, 26, 31);
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.custom-image {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 19px;
}

.white-buttons button, .white-buttons div {
    color: white;
    border-color: white;
}